{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
	<link rel='stylesheet' href="{% static 'blog/css/CSS.css' %}" type='text/css'/>
	<link href="{% static 'blog/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width">
</head>
<body>
<div class='main'>
<div class='nav-bar'>
<h1 align='center'>MY Blog</h1>
</div>
<div class='invisible'>
<h1 align='center'>MY Blog</h1>
</div>
<div class='container'>
<div id='intro'>
	<img alt='MyImg' id="MyImg" src="{% static 'blog/img/profile.jpg' %}" height='80%' width='17%'align='left'/>
	<div class='info'>
	<p><b>Name:</b> Amine Trabelsi</p>
	<p><b>Birth Date:  </b>12 April 2003</p>
	<p><b>Profession: </b> student | programmer | web developer</p>
	</div>

</div>
<div class='mainpage'>
<center>
	<article>
					<center>
					<h1><span>About me</span></h1>
					<hr>
								<p>Hi, my name is <b>Amine </b>
								<br>programming has changed my world <br>
								it is very fun to learn <br>
								The best thing i like about programming 
								is that  there is a very helpful community. </p>
					</center>
    </article>
        <div class="skills">
            <h1 align='center'>Skills</h1>
			<hr>
            <ul>
            <div class='skillbars'>
                <li><h5>HTML</h5></li>
                 <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width:90%">90%</div>
                </div>
                <li><h5>Python</h5></li>
                <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width:80%">80%</div>
                </div>
                <li><h5>CSS</h5></li>
                 <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width:50%">50%</div>
                </div>
                <li><h5>C++</h5></li>
                 <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width:10%">10%</div>
                </div>
                <li><h5>JavaScript</h5></li>
                 <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width:5%">5%</div>
                </div>
            </div>
            </ul>
        </div>
</center>		
		<div class='shedule'>
		<center><h1>My Activities</h1></center>
         <div class="container table-responsive">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Time\Day</th>
            <th>MONDAY</th>
            <th>TUESDAY</th>
            <th>WEDNESDAY</th>
            <th>THURSDAY</th>
            <th>FRIDAY</th>
            <th>SATURDAY</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>8-9</b></td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
          </tr>
          <tr>
            <td><b>9-10</b></td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
          </tr>
          <tr>
            <td><b>10-11</b></td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
          </tr>
          <tr>
            <td><b>11-12</b></td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
          </tr>
          <tr>
            <td><b>12-13</b></td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><b>13-14</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><b>14-15</b></td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><b>15-16</b></td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><b>16-17</b></td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td>school</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        </table>
    </div>
	</div>
</div>
<div id="comments">
	<form class='form-signin' method='Post' action='{% url "index" %}'>
	{% csrf_token %}
	<h6>Name:</h6>
	{{ form.name }}<br>
	<h6>Comment:</h6>
	{{ form.comment }}
	<button class='btn btn-lg btn-primary ' type='submit'>submit</button>
	</form>
	<h3>Comments: <h3>
	<p id='deftxt'></p>
	{% for c in comments %}
			<div id='comment'>
			<h5 class='commenttext'>{{ c.name }}:</h5>
			<h6 class='commenttext'>{{ c.comment }}</h6>
			</div>
	{% endfor %}
</div>
</div>
</div>
<hr>
<footer>
<h2>Contact me:</h2>
<div id='mainlinks'>
<a href='https://www.facebook.com/amine.trabelsi.771' target='_blank'>
<img class='links' alt='img' src='{% static "blog/img/facebook.png" %}' height='30px' width='30px' /></a>
Facebook
<br>
<a href='https://www.sololearn.com/Profile/5883104' target='_blank'>
<img class='links' alt='img' src='{% static "blog/img/sololearn.png" %}' height='30px' width='30px'></a>
Sololearn
<br>
<a href='https://www.instagram.com/amine00trabelsi/' target='_blank'>
<img class='links' alt='img' src='{% static "blog/img/instagram.png" %}' height='30px' width='30px'/></a>
Instagram
</div>
<p id='copyright' align='right'>&copy; copyrighted 2018</p>
</footer><!--
<script src="{% static 'blog/js/jquery.js' %}"></script>
<script src="{% static 'blog/js/JS.js' %}"></script>-->
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.js' %}"></script>
</body>
</html>